* {
    margin: 0;
    padding: 0;
}

#calculatorContainer {
    background-color: gray;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 400px;
    height: 500px;
    border-radius: 10px;
    border: 2px solid black;
    margin: 50px auto;
}

.display {
    text-align: right;
    font-size: 50px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(201, 237, 247);
}

.operateButtons {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    flex-grow: 1;
    align-items: center;
}

.button {
    font-size: 26px;
    height: 65px;
    width: 65px;
    flex: 1 0 25%;
    border-radius: 10px;
    background-color: rgb(228, 228, 183);
}

#clear {
    margin: 20px 0px 20px 20px;
    flex-shrink: 0;
    align-self: flex-end;
    background-color: red;
    color: white;
    flex: 0;
    width: 100px;
    
}

#divide,
#multiply,
#subtract,
#add {
    background-color: white;
}